div#footer.row.black-bg
  div.col
    div
      addr 
        a(href='https://github.com/fChristenson') Github
        a(href='http://se.linkedin.com/in/fredrikchristenson/') LinkedIn
        a(href='mailto:fredrik.christenson@gmail.com') Email
    div.inline
      h1.inline.jumbo Contact Me!
      div#profile
        img(src='images/me.jpg')
  hr.clear
