* {
  padding: 0;
  margin: 0;
}
a {
  color: #4685f1;
}
.clear {
  clear: both;
}
addr > a {
  margin: 0 1em 0 0;
}
body {
  background: #00a86b;
}
h1,
h2,
h3,
addr {
  font-family: serif;
  color: #f7f5ff;
  text-align: center;
}
h1,
h2,
h3 {
  text-shadow: 1px 1px #181818;
}
.black-bg {
  background: #181818;
  padding: 3em;
}
.jumbo {
  font-size: 400%;
}
.changeColor {
  -webkit-animation: change 5s linear;
}
@-webkit-keyframes change {
  from {
    color: #f7f5ff;
  }
  to {
    color: #181818;
  }
}
div.row {
  width: 100%;
}
div.col {
  display: inline-block;
  width: 33%;
  height: 100%;
}
.inline {
  display: inline-block;
}
#footer {
  position: fixed;
  bottom: 0em;
  font-weight: bolder;
}
div#profile {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background: url(/images/me.jpg) no-repeat;
  margin: 0 0 0 1em;
}
div#profile > img {
  opacity: 0;
  filter: alpha(opacity=0);
}
div#ball {
  margin: 5em 0 0 0;
  background: url("/images/walk.gif") no-repeat center;
  width: 100px;
  height: 100px;
  border-radius: 500px;
  position: relative;
  -webkit-animation: walk 30s infinite linear;
}
div#ball img {
  width: 100px;
  height: 100px;
}
@-webkit-keyframes walk {
  from {
    left: 0em;
  }
  to {
    left: 93%;
  }
}
